// ===========================
// Global Settings (variables)
// ===========================
// Organize by category, e.g. dimensions,
// breakpoints, z-indexes, colors, etc.

// ----------------
// Asset management
// ----------------
// Config for when using the asset("some/path") function.

$asset-public-root: "/public/";
$asset-query-string: "";

// -------------
// Media queries
// -------------

// Dimensions
$start-tablet: 700px;
$start-desktop: 1100px;
$layout-width: 1200px;

// Pre-built media queries
// Example usage: @media ($mq-desktop) { … }
$mq-phone: mq-build($maxw: $start-tablet);
$mq-tablet: mq-build($minw: $start-tablet, $maxw: $start-desktop);
$mq-desktop: mq-build($minw: $start-desktop);
$mq-upto-tablet: mq-build($maxw: $start-desktop);
$mq-from-tablet: mq-build($minw: $start-tablet);

// -------------------
// Brand/design colors
// -------------------
// Tip: Only create variables for brand colors,
// not for every single possible shade of grey.

$color-example: #304050;
$color-grayLight: #F6F7FA;


// -----
// Fonts
// -----

$font-family-base: Arial, sans-serif;
$font-family-title: SomeOtherFont, sans-serif;
